@media screen and (max-width: 1400px) {

    /* ---------------------- PRELOADER ---------------------- */
    .preloader__title {
        font-size: calc(var(--big-offset) * 2);
    }

    .preloader__subtext {
        position: relative;
        font-size: calc(var(--offset) * 2);
    }

    /* ------------------- HEADER ------------------- */

    .header {
        padding: 20px 50px 15px 50px;
        flex-wrap: wrap;
    }

    /* ----------------------- FITSTSCREEN ------------------------ */
    .decor {
        height: 35%;
    }

    .d02 {
        z-index: 1;
        height: 120%;
        top: 45%
    }

    .d03 {
        top: 55%;
        left: 10%
    }

    .d01 {
        left: 70%;
        top: 40%
    }

    .d04 {
        top: 35%;
        left: 45%;
        z-index: 1;
    }

    .firstscreen__subtext {
        font-size: calc(var(--offset) * 1.5);
        line-height: calc(var(--offset) * 3);
    }

    .firstscreen .btn-steam {
        font-size: calc(var(--offset) * 1.4) !important;
    }

    #news-article {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
        transform: unset;
        margin-top: 30vh !important;
        gap: 30px;
    }

    .fq4 .preloader__hunter {
        display: none;
    }
}

@media screen and (max-width: 1100px) {

    /* ------------------- HEADER ------------------- */
    .header__menu {
        order: 3;
        justify-content: space-between;
        padding: 0px 0px;
        width: 100%;
        margin-top: 20px;
        gap: unset;
    }

    .header__link {
        font-size: calc(var(--medium-offset) * .7);
    }

    .btn-steam {
        font-size: calc(var(--medium-offset) * .7);
    }

    /* ----------------------- FITSTSCREEN ------------------------ */

    .firstscreen {
        margin-top: 150px;
    }


    .firstscreen__wrapper {
        margin: 0 30px;
    }

    .firstscreen__text {
        margin-right: 30px;
        width: 55vw;
        padding: 0;
    }

    .about {
        font-size: calc(var(--medium-offset) *0.9);
        line-height: calc(var(--medium-offset) * 2);
    }

    .about__bloob {
        height: 50vh;
        position: absolute;
    }



    @media screen and (min-height: 700px) {
        .h03 {
            height: 50%;
        }

        .h01 {
            height: 60%;
        }

        .b01 {
            height: 50%;
            top: 30%
        }

        .h02 {
            height: 50%;
        }

        .b02 {
            height: 40%;
            top: 25%;
        }

        .b03 {
            height: 50%;
            top: 20%
        }

        .main__scroll {
            width: 450vw;
        }

        .scroll__side {
            width: 150vw;
        }
    }
}

@media screen and (max-width: 1000px) {

    .h01 {
        height: 60%;
    }

    .b01 {
        height: 50%;
        top: 30%
    }

    .h02 {
        height: 50%;
    }

    .b02 {
        height: 40%;
        top: 25%;
    }

    .b03 {
        height: 50%;
        top: 20%
    }

    .main__scroll {
        width: 450vw;
    }

    .scroll__side {
        width: 150vw;
    }

    .h03 {
        height: 60%;
    }

    .scroll__text-area {
        width: 80vw;
    }
}

@media screen and (max-width: 750px) {

    /* ---------------------- PRELOADER ---------------------- */
    .preloader__title {
        font-size: calc(var(--big-offset) * 1.5);
    }

    /* ------------------- HEADER ------------------- */

    .header {
        padding: 20px 20px 15px 20px;
        flex-wrap: wrap;
    }

    .header__menu {
        padding: 30px 0;
    }

    .header__link {
        font-size: calc(var(--medium-offset) * .6);
    }

    .btn-steam {
        font-size: calc(var(--medium-offset) * .6);
    }

    /* ----------------------- FITSTSCREEN ------------------------ */
    .firstscreen {
        flex-direction: column;
        margin-top: 200px;
        overflow: hidden;
    }

    .firstscreen__wrapper {
        width: calc(100% - 60px);
        height: 75vh;
        position: absolute;
        z-index: -1;
        filter: brightness(.2);
        min-height: 650px;
    }

    .d02 {
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 50%;
    }

    .firstscreen__text {
        width: calc(100% - 60px);
        margin: 30px;
    }

    .firstscreen__text {
        height: 75vh;
        padding: 20px;
        min-height: 650px;
    }

    .l01,
    .l01 *,
    .l02,
    .l02 * {
        align-self: flex-start !important;
        font-size: calc(var(--big-offset) * 1.5) !important;
        line-height: calc(var(--big-offset) * 2.0) !important;
    }

    .main__scroll {
        width: 600vw;
    }
    #mailList{
        margin-top: 150px;
    }

    .scroll__side {
        width: 200vw;
    }



    .scroll__text-area {
        width: 90vw;
    }

    .scroll__text-area h1 {
        font-size: calc(var(--medium-offset) * 1.5);
    }

    .scroll__text-area span {
        font-size: calc(var(--medium-offset) * .75);
    }

    .ta03 {
        margin-left: 40vw;
    }

    .thumb {
        position: relative;
        display: inline-block;
        width: calc(50% - 12.5px);
    }

    .about {
        font-size: calc(var(--medium-offset) *0.6);
        line-height: calc(var(--medium-offset) * 1.3);
    }

    .about__bloob {
        height: 50vh;
        position: absolute;
    }

    .page__item--gallery {

        background-size: 60%;
    }

    #news-article {
        padding: 40px;
        flex-direction: column;
        gap: 100px;
    }

    .footer,
    .footer__half,
    .footer__quatro {
        flex-direction: column;
    }

    .footer__quatro {
        width: 100%;
    }

    .footer__tech {
        margin: 0;
        padding: 0;
    }

    .fq3 {
        position: absolute;
        bottom: 30px;
        right: 30px;

        width: auto;
    }

    .footer__socials {
        font-size: calc(var(--big-offset) * .7);
    }
}

@media screen and (max-width: 550px) {

    /* ---------------------- PRELOADER ---------------------- */
    .preloader__title {
        font-size: calc(var(--big-offset) * .9);
    }

    /* ------------------- HEADER ------------------- */


    .header__toggle {
        display: block;
        order: 4;
    }

    .header__menu {
        order: 5;
        width: 100vw;
        height: 80%;
        display: flex;
        gap: 20px;
        justify-content: start;
        margin-top: 60px;
        align-items: start;
        flex-direction: column;
    }
    .header .preloader__title{
        font-size: calc(var(--medium-offset) * 2) !important;
        margin-bottom: 15px;
    }
    .header .preloader__title {
        width: 100%;
        text-align: left;
    }

    .header .preloader__title * {
        font-size: calc(var(--medium-offset) * 2) !important;
        margin-bottom: 15px;
    }

    .header__link {
        font-size: calc(var(--medium-offset) * 1.5);
    }


    .btn-steam {
        font-size: calc(var(--medium-offset) * 1);
    }

    .header {
        justify-content: space-between;
        gap: 10px;
        padding-bottom: 30px
    }

    .made-by {
        display: block;
        position: absolute;
        bottom: 20px;
    }

    .open .profile__menu, .open1{
        right: unset;
        left: 0
    }
    .modal-img {
        width: 90vw;
    }

    .modal-desc {
        width: 90vw;
    }

    .arrow.prev {
        left: 0px;
    }

    .arrow.next {
        right: 0px;
    }

    .block-title {
        font-size: calc(var(--big-offset) * 0.8);
    }

    .thumb {
        position: relative;
        display: inline-block;
        width: calc(100% - 12.5px);
    }

    .fq3 {
        position: relative;
        bottom: 0;
        right: 0;

        width: 100%;
    }

    .footer__socials {
        margin-top: 00px;
        flex-direction: row;
    }

    .footer__title {
        font-size: calc(var(--medium-offset) * 1.8);
    }

    .footer__tech-for {
        display: none;
    }
    .profile__item {
        align-items: start;
    }
}

@media screen and (max-width: 400px) {

    /* ---------------------- PRELOADER ---------------------- */
    .preloader__title {
        font-size: calc(var(--big-offset) * 0.8);
    }

    /* ------------------- HEADER ------------------- */


    .header .preloader__title * {
        font-size: calc(var(--medium-offset) * 1.5) !important;
        margin-bottom: 15px;
    }

    .btn-steam {
        font-size: calc(var(--medium-offset) * .8);
    }

    .header__link {
        font-size: calc(var(--medium-offset) * 1.2);
    }

    .header {
        padding-bottom: 15px
    }

    .firstscreen__wrapper {
        width: calc(100% - 20px);
        margin: 10px;
    }

    .firstscreen__text {
        margin: 10px;
        width: calc(100% - 20px);
    }

    .about {
        font-size: calc(var(--medium-offset) *0.5);
        line-height: calc(var(--medium-offset) * 1);
    }

    .footer__title {
        font-size: calc(var(--medium-offset) * 1.2);
        line-height: var(--medium-offset);
    }

    .footer {
        padding-top: 40px;
    }

    .footer__tech .title {
        font-size: calc(var(--offset) * 1.2);
    }
}

@media screen and (max-width: 330px) {
    .about {
        font-size: calc(var(--medium-offset) *0.4);
        line-height: calc(var(--medium-offset) * .7);
    }
}